/* main styles */

body {
	width: 280px;
	background-color: #f2f2f2;
	height: 100%;
	overflow: hidden;
}

h1 {
	font-weight: 600;
	font-size: .9em;
}

p {
	font-weight: 500;
	font-size: .8em;
	margin-bottom: 10px;
	border-radius: 0.2em;
}

#login-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* divider (edge style) */

.edge-divider {
	content: '';
	display: block;
	text-align: center;
	height: 1px;
	width: 95%;
	background: #8a8a8a;
	align-self: center;
}

/* login header */

#login-title {
	display: flex;
	flex-direction: row;
	width: 95%;
}

#login-title h4 {
	font-size: 18px;
	margin: 0;
	padding: 10px 0;
	flex: 1;
}

#title-settings {
	padding: 10px 6px 10px 6px;
	position: relative;
	z-index: 1;
	border: none;
	height: 40px;
}

/* mrdka kvuli edge co tu musi bejt... */

#title-settings::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	padding: 15px;
	top: 15%;
	left: 0%;
	border: 1px solid #f2f2f2;
	background: #f2f2f2;
	z-index: -99;
}

/* konec mrdky */

#title-settings:hover::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	padding: 15px;
	top: 15%;
	left: 0%;
	border: 1px solid #aaa;
	background: #ddd;
	z-index: -99;
}

/* Login main body */

#login-action {
	font-size: 18px;
	align-self: center;
	padding: 15px 0;
	margin: 15px 0;
}

.btn-login, .btn-logout {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #b8b8b8;
	color: black;
	border-radius: 0;
	font-weight: 400;
	font-size: 20px;
	cursor: default !important;
	text-transform: none;
	border: none;
	padding: 2px 50px;
}

.btn-login:hover, .btn-logout:hover {
	-webkit-box-shadow: inset 0px 0px 0px 2px #8a8a8a;
	-moz-box-shadow: inset 0px 0px 0px 2px #8a8a8a;
	box-shadow: inset 0px 0px 0px 2px #8a8a8a;
}

.btn-logout {
	font-size: 15px;
	padding: 1px 10px;
}

/* Login status */

#login-status {
	display: flex;
	flex-direction: row;
	width: 95%;
	margin: 10px 0;
}

#login-status p, #recent-links>p {
	font-size: 15px;
	padding: 1px 0;
	margin: 0;
}

#login-status .user {
	flex: 1;
}

#login-status .logout {
	flex: 0;
}

/* Recent links */

#recent-links {
	width: 95%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

#recent-links>p {
	margin: 10px 0 0 0;
}

.link-list {}

.link {
	padding: 2px 10px;
	border-top: 1px solid #ddd;
}

.link:hover {
	background: #ddd;
	border-left: 2px solid black;
}

.link p, .link span {
	padding: 0;
	margin: 0;
}

/* Login footer */

#login-footer {
	flex: 3
}

/* Loading circles */

.loading-circles {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 15px 0;
	z-index: -1;
}

.loading-circles div {
	animation: loading-circles 2.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 32px 32px;
}

.loading-circles div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: black;
	margin: -3px 0 0 -3px;
}

.loading-circles div:nth-child(1) {
	animation-delay: -0.036s;
}

.loading-circles div:nth-child(1):after {
	top: 50px;
	left: 50px;
}

.loading-circles div:nth-child(2) {
	animation-delay: -0.072s;
}

.loading-circles div:nth-child(2):after {
	top: 54px;
	left: 45px;
}

.loading-circles div:nth-child(3) {
	animation-delay: -0.108s;
}

.loading-circles div:nth-child(3):after {
	top: 57px;
	left: 39px;
}

.loading-circles div:nth-child(4) {
	animation-delay: -0.144s;
}

.loading-circles div:nth-child(4):after {
	top: 58px;
	left: 32px;
}

.loading-circles div:nth-child(5) {
	animation-delay: -0.18s;
}

.loading-circles div:nth-child(5):after {
	top: 57px;
	left: 25px;
}

.loading-circles div:nth-child(6) {
	animation-delay: -0.216s;
}

.loading-circles div:nth-child(6):after {
	top: 54px;
	left: 19px;
}

.loading-circles div:nth-child(7) {
	animation-delay: -0.252s;
}

.loading-circles div:nth-child(7):after {
	top: 50px;
	left: 14px;
}

.loading-circles div:nth-child(8) {
	animation-delay: -0.288s;
}

.loading-circles div:nth-child(8):after {
	top: 45px;
	left: 10px;
}

/* Settings */
.settings{
	position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	display: flex;
	background-color: rgba(242, 242, 242, 1);
	flex-direction: column;
	align-items: center;
}

#settings-title {
	display: flex;
	flex-direction: row;
	width: 95%;
}

#settings-title h4 {
	font-size: 18px;
	margin: 0;
	padding: 10px 0;
	flex: 0;
}

.settings-section{
	width: 95%;
	flex-grow: 1;
	flex: 2;
	overflow: auto;
}

.settings-section .link-list .setting{
	align-items: center;
	padding: 2px 10px;
	border-top: 1px solid #ddd;
	display: flex;
}

.setting .setting-text{
	flex-grow: 1;
}

.setting .setting-text p{
	margin-bottom: 0px;
}

.setting .setting-toggle{
	margin-left: 0.25rem;
}

/* Toggle switch */
.disappear-from-screen, .toggle input {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }
  
  .toggle {
	display: table;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .toggle input:focus + div {
	text-decoration: underline;
  }
  .toggle > div {
	cursor: pointer;
	border-radius: 1rem;
	width: 2.5rem;
	height: 1rem;
	background: white;
	border: 2px solid black;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	position: relative;
	transition: 200ms ease-out;
	font-size: 0;
  }
  .toggle > div:hover {
	box-shadow: 0 0 6px #005ca4;
  }
  .toggle > div:before {
	will-change: translate;
	display: block;
	position: absolute;
	top: calc(50% - .25rem);
	left: .25rem;
	content: '';
	width: 0.5rem;
	height: 0.5rem;
	background: black;
	border-radius: 50%;
	transition: 200ms;
  }
  .toggle > div:after {
	font-size: 0.5rem;
	position: absolute;
	right: -50%;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	content: attr(data-off);
	pointer-events: none;
  }
  .toggle input:checked + div {
	background: #0078d7;
	border-color: #0078d7;
  }
  .toggle input:checked + div:before {
	color: #0078d7;
	-webkit-transform: translateX(280%);
			transform: translateX(280%);
	-webkit-transform: translateX(calc(2.5*100%));
			transform: translateX(calc(2.5*100%));
	background: white;
  }
  .toggle input:checked + div:after {
	content: attr(data-on);
  }
  
  input:focus + div:after {
	text-decoration: underline;
  }

/* AdSense */

.ad-wrapper{
	display: block;
	position: relative;
	width: 100%;
}

/* Success mark */

#success-wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 94px;
}

.success-mark {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 90px;
}

.success-mark.draw:after {
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-name: success-mark;
	transform: scaleX(-1) rotate(135deg);
}

.success-mark:after {
	opacity: 1;
	height: 3.5em;
	width: 1.75em;
	transform-origin: left top;
	border-right: 3px solid black;
	border-top: 3px solid black;
	content: '';
	left: 1.75em;
	top: 3.5em;
	position: absolute;
}

@keyframes loading-circles {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes success-mark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}
	20% {
		height: 0;
		width: 1.75em;
		opacity: 1;
	}
	40% {
		height: 3.5em;
		width: 1.75em;
		opacity: 1;
	}
	100% {
		height: 3.5em;
		width: 1.75em;
		opacity: 1;
	}
}